.product { 
    width: 95%;
    height: 55px;
    background-color: #ffffff;
    /* border: solid 2px #733DD8; */
    color: #263238;
    display: flex;
    border-radius: 12px;
    margin: 12px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}



.detail { 
    display: flex;
    min-width: 50%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/* .input { 
    padding: 5px;
    border: solid 2px #733DD8;
    border-radius: 12px;

} */

.qty { 
    background-color: #733DD8; 
    padding: 4px; 
    border-radius: 50%;
    color: white;
}

.btn { 
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #f5f5f5;
    color : #733DD8 ;
    border : solid 1px #733DD8 ;
    padding: 8px;
}

.btnRemove { 
    border : solid 1px #ff0707 ; 
    /* background-color: blue; */
    color: #ff0707;
border-radius: 10px;
}

.btnContainer { 
    display: flex;
    min-width: 19%;
    justify-content: space-around;
}
.deleteBtn { 
    color: #ff0707;
    border: none;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    background: none;
}